extend layout.jade
block content
    section#navbarscroll
        include partdetail/navbarScroll.jade
    section#banner       
        include partdetail/jumbotron.jade
    section#director
        include layout/twoColLImgRText.jade
    section#ca
        include partdetail/moreImg.jade
    section#story
        include partdetail/cardThree.jade
    section#task
        include partdetail/listgroup.jade
    section#movie
        include layout/imgfuluid.jade
