<!DOCTYPE html>
html(lang="en")
    head
        include layout/head.jade
    body(data-spy='scroll', data-target='#navbarscroll', data-offset='0')
        
        block content       
        include layout/footer.jade
        
        