script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script(src="https://www.googletagmanager.com/gtag/js?id=UA-89388320-3")
script(src="js/vendors.js")
script(src="js/all.js")
//- chart
footer.bg-light.my-3
    .container.d-flex.flex-column.text-center
        p.small 知道遠方有重要的人在想他，或許或許，或許，這就是魚洄流的原因。    
        .footerGroup.mb-2
            a(href="#")
                i.fab.fa-facebook.mx-1
            a(href="#")
                i.fab.fa-instagram.mx-1
            a(href="#")
                i.fab.fa-twitter.mx-1                        
    p.small.text-center ©Copright 2018 測試版型Troye gulp



