section.intro
    .container
        .row
            .col-md-12
                h2.section-heading 主要演員
                h3.section-subheading.text-muted  致我們幼稚的人生！看花甲男孩轉大才發現的人生課題
        .row
            .col-md-4.col-man
                img(src="http://pic.pimg.tw/pink03049/1495953625-840179578_n.jpg", alt="")
                h4 鄭花甲 
                h6.text-muted 即將滿28歲，重考三年、延畢兩年，人生被命定要接乩童。
            .col-md-4.col-man
                img(src="http://image.knowing.asia/18c39229-9310-4e9c-a422-75c052529418/7a9b66d79b50dc12e928797e460d2f73.png", alt="")
                h4 鄭花亮
                h6.text-muted 花甲的二堂弟，光煌的二兒子，花明的弟弟。是全村的人生勝利組，但卻奉子成婚。
            .col-md-4.col-man
                img(src="https://www.fanily.tw/wp-content/uploads/2017/05/17880576_954478431321791_562691068874025517_o-1024x542.jpg", alt="")
                h4 鄭花明
                h6.text-muted 花甲的大堂弟，光煌的長子，是育有一子耀洋的單親爸爸。
