
<div class="container-fluid">
  <div class="row">
    <div data-wow-delay="0.5s" class="col-md-7 direBg wow slideInLeft"></div>
    <div data-wow-delay="0.5s" class="col-md-5 wow slideInRight">
      <h2 class="text-center my-3 font-weight-bold text-danger">導演賦予任務</h2>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <h4>1.刻板印象</h4>
          <p>人的身上，都同時有男生和女生的靈魂，只是可能此生做男生，男生的部分就多一點。瞿友寧抓住了我們這一世代，不分男女的時代感性。</p>
        </div>
        <div class="col-md-12">
          <h4>2.人沒有完美</h4>
          <p>瞿友寧一口氣丟五個詰問，然後他說，他沒有定論，希望大家自己去感受。他們都在學習，學習自己想要成為什麼樣的父親、什麼樣的人。                  </p>
        </div>
      </div>
    </div>
  </div>
</div>