.container-fluid(style="overflow-x:hidden")
    h2.text-center.font-weight-bold.mt-3.text-danger 故事前言
    .card-deck.my-3
        .row
            .col-md-4.hvr-float-shadow.my-1
                .card.wow.zoomIn.cardboard(data-wow-delay="0.5s")
                    .card-header.text-center 第一章            
                    i.fas.fa-ambulance.fa-3x.text-center.my-3
                    .card-body
                        h4.card-title.text-center 救護車
                        p.card-text 突然接到阿嬤病危通知的電話，花甲與好友阿瑋連忙南下。而此時的祖厝，所有臨時回來的人，整隊聽令葬儀社的指揮，進進出出裝忙著
                    .card-footer.text-center
                        h4 困難度: ★★★★★★★
            .col-md-4.hvr-float-shadow.my-1
                .card.wow.zoomIn.cardboard(data-wow-delay="0.5s")
                    .card-header.text-center 第二章          
                    i.fas.fa-sun.fa-3x.text-center.my-3
                    .card-body
                        h4.card-title.text-center 阿嬤出現神蹟
                        p.card-text 五個兄妹相互指責，像個孩子，看似繞著家產如何公平均分；內心卻是因著母親的彌留，隱隱察覺到一個巨大的「失去」正要襲來
                    .card-footer.text-center
                        h4 困難度: ★★★★★

            .col-md-4.hvr-float-shadow.my-1
                .card.wow.zoomIn.cardboard(data-wow-delay="0.5s")
                    .card-header.text-center 第三章      
                    i.fab.fa-fly.fa-3x.text-center.my-3
                    .card-body
                        h4.card-title.text-center 阿嬤的這一口氣
                        p.card-text 把大家吹得東倒西歪，卻也把大家從島嶼的各個地方，紛紛吹回三合院了，接下來，這陣風，又將把所有「家人」，吹向何方？
                    .card-footer.text-center.justify-content-baseline
                        h4 困難度: ★★


