.jumbotron.jumbotron-fluid.m-0
    .container
        .text-middle
            h2.box  花甲男孩轉大人                               
        a.btn.btn-danger.btn-lg.scrollTop.btn-center(href='#director') 轉變   
                