.container-fluid.my-3
    .row
        .col-md-4
            #list-tab.list-group
                a.list-group-item.disabled.bg-warning.text-center 主線
                a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-1') 正式片
                a.list-group-item.disabled.bg-warning.text-center  支線
                a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-2') 番外篇
                a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-3' ) 花甲小日記
                a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-4') 植日生周記周記
            .text-center.my-2.p-5(style="border-style: dashed")
                h2 闖蕩人生
                p.small.text-muted.m-0 別忘導演賦予隱藏任務哦

        .col-md-8
            #nav-tabContent.tab-content
                #list-1.tab-pane.fade.show.active
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/97MzIyjDefg')
                #list-2.tab-pane.fade 
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/97MzIyjDefg')                
                #list-3.tab-pane.fade 
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/97MzIyjDefg')                
                #list-4.tab-pane.fade 
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/97MzIyjDefg')                



        