.container-fluid(style="overflow:hidden")
    .row.text-center.text-white
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca1.png')")
            h4 花甲
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca2.PNG')")
            h4 阿瑋
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca3.PNG')")
            h4 阿嬤
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca4.PNG')")
            h4 鎮南
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca5.PNG')")
            h4 阿醬
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca6.PNG')")
            h4 光輝
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca7.PNG')")
            h4 小名
        .col-md-8.bg-warning.rwd.text-danger
            h2.fontfix 大膽選擇角色
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca8.PNG')")
            h4 余天
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca9.PNG')")
            h4 康康
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca10.PNG')")
            h4 啞啞
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca11.PNG')")
            h4 安安
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca12.PNG')")
            h4 花量
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca13.PNG')")
            h4 花花
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca14.PNG')")
            h4 花癡
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca15.PNG')")
            h4 甲乙
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca16.PNG')")
            h4 丙丁
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca17.PNG')")
            h4 愛逆
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca18.PNG')")
            h4 莉亞
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca19.PNG')")
            h4 英九
        .col-md-2.col-4.box.p-0.ca-animation.img-fluid(style="background-image: url('./img/ca20.PNG')")
            h4 英文
        