nav.navbar.navbar-expand-md.navbar-light.bg-dark.py-0
  a.navbar-brand.mb-2(href='#')
    h1.text-hide 花甲男孩轉大人
    i.fab.fa-pagelines.fa-2x
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse.py-0   
    ul.nav.nav-pills
      li.nav-item
        a.nav-link.scrollTop(href='#director') 導演(director)
      li.nav-item
        a.nav-link.scrollTop(href='#ca') 角色(Character)
      li.nav-item
        a.nav-link.scrollTop(href='#story') 大綱(Story)
      li.nav-item
        a.nav-link.scrollTop(href='#task') 影片(Video)
      li.nav-item
        a.nav-link.scrollTop.navgift(href='#movie') 電影(Movie)
          span.badge.animated.infinite.swing
            i.fas.fa-gift.fa-2x
          
